.contenedorHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(11, 216, 38);
}
.contenedorHeader h3{
    padding-left: 20px;
    color: black;

}
.contenedorHeader a{
    text-decoration: none;
}

.contenedorHeader h3:hover{
    color: blueviolet;
}
.contenedorFooter{
    width: 100%;
    
    background-color: rgb(15, 171, 233);
    display: flex;
    flex-direction: row;
}
.miniBox{
    width: 33.3%;
    
    padding: 30px;
    text-align: justify;
}
.box img{
    width: 40px;
    height: 40px;
    padding-right: 15px;
}
.box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box a{
    text-decoration: none;
}
.box h3{
    color: red;
}
.box h3:hover{
    color: blue;
}
.boxIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.boxIcon i{
    padding-right: 10px;
}
body{
    padding: 0%;
    margin: 0;
}
.contenedor{
    padding-left: 200px;
    padding-right: 200px;
}